div p {
	font-size: 14px;
	font-weight: 800;
 	color: #000;
}
div p span{
font-size: 15px;
	font-weight: 900;
 	color: #000;
}
.logo{
    width:50px;
    height:50px;
}
.txt-center{
	text-align: center;
}
.txt-right{
	text-align: right;
}
div table {
	width: 100%;
}
div table  th{
	border: 2px solid #000;
	text-align: center;
	margin-right:5px;
}
#ctd, #ctr{
	border: 2px solid #000;
	text-align: right;
	padding-right:5px;
}